.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

body {
    margin: 0;
    padding: 0;        
}

@media (max-width: 360px) {
    

    .page-m {
        display: block;
        margin: 12px 24px;  
        padding: 0;
        box-sizing: border-box;   
    }

    /* 
    header  
    */

    .page-header-m {
        display: flex;       
        justify-content: space-between;
        align-items: center;      
        height: 38px;   
        margin: 0;
        padding: 0;  
        box-sizing: border-box;            
    }

    .page-header-left-links-m {
        display: grid;
        grid-template-columns: 22px 86px;
        column-gap: 10px;              
        margin: 0;        
        padding: 0;        
        height: 22px;
        width: 118px;
    }
    
    .magnifier-link-m {
        display: block;
        width: 18.68px;
        height: 22px;        
        background-image: url("/images/icons/magnifier.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .jumys-tap-link-m {
        display: block;  
        box-sizing: border-box;      
        width: 86px;
        height: 22px;                
        margin: 0;
        background-image: url("/images/icons/JumysTapLogo.svg");
        background-repeat: no-repeat;
        background-position: center;
    } 

    .navigation-list-m {
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
        height: 38px;        
    }

    .navigation-item-m {
        display: block;
        margin: 0;        
        padding: 0;
        width: 102px;
        height: 38px;
    }

    .navigation-button-m {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;        
        color: #081E34;
        background: rgba(8, 30, 52, 0.12);
        border-radius: 100px;        
        margin: 0;        
        padding: 0;        
        width: 102px;
        height: 38px;        
    }

    /* 
    main  
    */
    
    .main-index-m {
        margin: 0;    
        padding: 0;    
    }

    .description-m {
        margin: 32px 0 32px 0;
        padding: 0;                
        box-sizing: border-box;
    }
    
    .hero-image-m {
        display: block;
        width: 312px;
        height: 210px;                
        border-radius: 32px;
        margin: 0 0 54px 0;
    }

    .hero-block-info-m {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0px;
        height: 290px;
        box-sizing: border-box;
    }

    .info-m {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0px;                
        height: 290px;         
        box-sizing: border-box;   
    }

    .hero-block-invitation-m {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 48px 0;
        padding: 0;
        height: 192px;
        box-sizing: border-box;
    }

    .invitation-m {                
        display: flex;
        align-items: center;
        text-align: center;        
        height: 114px;        
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: #000000;
        margin: 0 0 24px 0;
        padding: 0;
        box-sizing: border-box;
    }

    .invitation-description-m {
        display: flex;
        align-items: center;
        text-align: center;
        height: 54px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        margin: 0;
        padding: 0;     
        box-sizing: border-box;         
    }

    .howItWorks-button-m {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;        
        height: 50px;        
        background: #712FFF;
        border-radius: 100px;
        box-sizing: border-box;        
    }

    .howItWorks-button-caption-m {
        display: flex;
        align-items: center;
        text-align: center;        
        width: 96px;
        height: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
    }

    .howItWorks-section-m {
        display: block;          
        height: 686px;        
        background: #E1DEE7;
        border-radius: 32px;     
        margin: 0;
        padding: 54px 0 54px 0;   
    }
    
    .howItWorks-title-m {        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;   
        padding: 0;
        width: 312px;
        height: 84px;
        box-sizing: border-box;         
    }
    
    .howItWorks-title-description-m {
        width: 169px;
        height: 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #000000;        
        margin: 0;
        padding: 0;
        box-sizing: border-box;   
    }

    .howItWorks-title-question-m {
        width: 312px;
        height: 56px;        
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 56px;        
        margin: 0;
        padding: auto;
        text-align: center;
        color: #000000;
        box-sizing: border-box;   
    }

    .howItWorks-image-m {
        width: 351px;
        height: 84px;        
    }

    .howItWorks-list-m {                
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;      
        width: 312px;                 
        height: 440px;
    }

    .howItWorks-item-m {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0px;        
        width: 312px;
        height: 120px;
    }

    .howItWorks-item-m:not(:last-child) {
        margin-bottom: 40px;
    }

    .number-m {
        width: 42px;
        height: 42px;
        margin: 0;
    }

    .number-m:not(:last-child) {
        width: 42px;
        height: 42px;
        margin: 0 0 24px 0;
    }
    
    .howItWorks-item-description-m {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 312px;
        height: 54px;  
    }

    .howItWorks-item-title-m {
        width: 312px;
        height: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #000000;  
        margin: 0 0 12px 0;
        padding: 0;                 
    }

    .howItWorks-item-explanation-m {
        width: 312px;
        height: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;        
        color: #000000;
        margin: 0;
        padding: 0;
    }

    .find-job-m {   
        display: flex;
        flex-direction: column;
        justify-content: center;             
        height: 422px;
        /* padding: 100px 80px 100px 80px;     */
        margin: 0;    
    }

    .find-job-form-m {
        margin: 100px 603px 100px 80px;
        padding: 0;
        width: 757px;
        height: 222px;
    }
    
    .find-job-title-m {
        width: 495px;
        height: 64px;                        
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 64px;        
        margin: 0;
        padding: 0;
        margin-bottom: 32px;
        color: #000000;    
    }

    .find-job-description-m {
        width: 495px;
        height: 44px;        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        margin: 0;
        padding: 0;
        margin-bottom: 32px;
    }

    .find-job-input-fields-m {
        display: flex;
        justify-content: space-between;
        width: 757px;
        height: 50px;
        box-sizing: border-box;
        padding: 0;
    }

    .find-job-key-words-m {
        display: box;
        width: 619px;
        height: 50px;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #E1DEE7;
        border-radius: 12px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        margin: 0;
        padding: 0;
    }

    .find-job-button-m {
        width: 106px;
        height: 50px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        box-sizing: border-box;
        background: #712FFF;
        border-radius: 100px;
        color: #FFFFFF;
    }

    .submission-m {     
        display: flex;
        flex-direction: column;
        justify-content: center;       
        height: 548px;       
        margin: 0;
        padding: 0; 
    }

    .submission-container-m {
        display: flex;    
        height: 420px;
        margin: 64px 80px; 
    }

    .upload-CV-image-m {
        display: block;
        width: 619px;
        height: 420px;        
        margin: 0 128px 0 0;        
    }

    .upload-CV-form-m {
        margin: 103px 38px 103px 0;
        height: 214px;
    }

    .upload-CV-title-m {
        width: 391px;
        height: 56px;
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 600;
        font-size: 54px;
        line-height: 56px;
        color: #000000;
        margin: 0;
        margin-bottom: 32px;
    }

    .upload-CV-description-m {
        width: 495px;
        height: 44px;    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;        
        color: #000000;      
        margin: 0;
        margin-bottom: 32px;  
    }

    .button-upload-CV-m {
        width: 114px;
        height: 50px;
        background-color: #712FFF;
        border-radius: 100px; 
        margin: 0;
        padding: 16px 24px 16px 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;        
        color: #FFFFFF;        
    }

    .page-footer-m {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 460px;
        margin: 0;
        padding: 32px 24px;
        background: #FFFFFF;
        border-radius: 32px 32px 0px 0px;
    }

    .page-footer-container-m {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }

    .footer-navigation-m {
        display: flex;
        justify-content: space-between;  
        height: 38px;
    }

    .navigation-container-m {
        display: flex;
    }

    .social-networks-list-m {
        display: flex;
        align-items: center;
        margin: 0;        
        margin-left: 28px;
        padding: 0;
        list-style-type: none;            
    }

    .twitter-m {
        margin: 0;
        padding: 0;
        margin-right: 16px;    
    }

    .instagram-m {
        margin: 0;        
        padding: 0;    
    }

    .social-networks-link-m {
        margin: 0;
        padding: 0;
    }

    .credits-container-m  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 38px;
    }

    .credits-m {
        height: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #081E34;
        opacity: 0.5;
    }

    .copyright-container-m {                
        height: 38px;
        padding: auto auto;
        align-self: end;
    }

    .copyright-m {
        height: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;        
        color: #081E34;        
    }
}      

