
.page-m {
    outline: 2px dashed black;        
}

.page-header-m {
    outline: 2px solid red;
}

.magnifier-link-m {
    outline: 2px solid blueviolet;
}

.jumys-tap-link-m {
    outline: 2px solid green;
}

.page-header-left-links-m {
    outline: 2px solid blue;
}

.navigation-list-m {
    outline: 2px solid orange;
}

.navigation-item-m {
    outline: 2px solid grey;
}

.navigation-link-m {
    outline: 2px solid black;
}

.navigation-button-m {
    outline: 2px solid hotpink;
}

.main-index-m {
    outline: 2px solid black;
}

.description-m {
    outline: 2px dashed red;
}

.hero-block-m {
    outline: 2px solid grey;
}

.hero-block-info-m {
    outline: 2px solid purple;
}

.info-m {
    outline: 2px solid black;
}

.invitation-m {
    outline: 2px solid red;
}

.invitation-description-m {
    outline: 2px solid green;
}

.howItWorks-section-m {
    outline: 2px solid red;
}

.howItWorks-info-m {
    outline: 2px solid black;
}

.howItWorks-title-m {
    outline: 2px solid green;
}

.howItWorks-title-description-m {
    outline: 2px solid purple;
}

.howItWorks-title-question-m {
    outline: 2px solid mediumblue;
}

.howItWorks-list-m {
    outline: 2px solid hotpink;
}

.howItWorks-item-m {
    outline: 2px dashed green;
}

.number-one-m {
    outline: 2px solid indianred;
}

.howItWorks-item-description-m {
    outline: 2px solid gray;
}

.howItWorks-item-title-m {
    outline: 2px solid tomato;
}

.find-job-m {
    outline: 2px solid black;
}

.find-job-form-m {
    outline: 4px dashed brown;
}

.find-job-title-m {
    outline: 2px solid green;
}

.find-job-description-m {
    outline: 2px solid fuchsia;
}

.find-job-input-fields-m {
    outline: 2px solid gray; 
}

.submission-m {        
    outline: 2px solid black;
}

.submission-container-m {
    outline: 2px dashed fuchsia;
}

.upload-CV-form-m {
    outline: 2px solid green;
}

.upload-CV-title-m {
    outline: 2px solid blue;
}

.upload-CV-description-m {
    outline: 2px solid orange;
}

.page-footer-m {
    outline: 5px dashed red;
}

.page-footer-container-m {
    outline: 2px solid blue;
}

.social-networks-list-m {
    outline: 2px solid orange;
}


.social-networks-link-m {
    outline: 2px solid green;
}

.credits-container-m {
    outline: 2px solid gray;
}

.credits-m {
    outline: 2px solid pink;
}
